In [11]:
naam = input('Geef uw naam op:')
print(naam)

Geef uw naam op: bla

bla

In [24]:
a = input('Getal:')
a = int(a)
b = 6
print(f'{a}' + f'{b}')

Getal: 13

136

In [21]:
comment="""Dit is commentaar

dit ook"""
print(comment)

Dit is commentaar

dit ook

In [22]:
comment='''Dit is commentaar

dit ook'''
print(comment)

Dit is commentaar

dit ook

In [32]:
for i in range(5):
    i +=5
    print(i)
for y in range(9,14):
    print(y)

5
6
7
8
9
9
10
11
12
13

In [33]:
7/4

1.75

In [34]:
7//4

1

In [35]:
7%4

3

In [39]:
# functions

def add(a,b):
    result = a + b
    print(result)
add(4,5)

9

In [44]:
#default values and how to use

def devide(a=2,b=4):
    result = a/b
    print(result)
devide(b=5)
devide()
devide(60)

0.4
0.5
15.0

In [47]:
for i in range(1,21):
    if i%2 == 1:
        print(f'{i} is oneven')
    else:
        print(f'{i} is even')

1 is oneven
2 is even
3 is oneven
4 is even
5 is oneven
6 is even
7 is oneven
8 is even
9 is oneven
10 is even
11 is oneven
12 is even
13 is oneven
14 is even
15 is oneven
16 is even
17 is oneven
18 is even
19 is oneven
20 is even

In [49]:
i = 0
while i <= 20:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [52]:
# lists

lijst = [5,6,7,8,9]
for i in lijst:
    print(i)

5
6
7
8
9

In [59]:
lijst = [5,6,7,8,9]
for i in range(len(lijst)):
    print(i)
lijst[2] = 6
print(lijst)

0
1
2
3
4
[5, 6, 6, 8, 9]

In [58]:
# tuple

my_tuple = (1,2,3)
print(my_tuple)
my_tuple[0] = 6
print(my_tuple)

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [60]:
my_tuple = (1,2,3)

getal = my_tuple[1]
print(getal)

2

In [61]:
my_tuple = (1,2,3)

getal = my_tuple(1)
print(getal)

TypeError: 'tuple' object is not callable

In [65]:
#functie kan meerdere items retourneren

def multiply_add(a,b,c):
    multi = a*b*c
    add = a+b+c
    return multi, add
product, som = multiply_add(4,5,6)
print(product)
print(som)

120
15

In [66]:
numbers = [1,2,3,4,5,6]

for n in numbers:
    if n > 5:
        break
    print(n)

1
2
3
4
5

In [69]:
n = 0
while n < 100:
    n += 1
    if n%2 == 0:
        continue
    print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [70]:
list1 = [1,2,3]
list2 = [4,5,6]
for n in list2:
    list1.append(n)
print(list1)

[1, 2, 3, 4, 5, 6]

In [78]:
name_list = ['x','a','n','d','e','r']

short_name = name_list[:1] + name_list[2:4] + list(name_list[-1])

print(short_name)

['x', 'n', 'd', 'r']

In [92]:
import random as rd
my_rand_number = rd.randint(2,6)
print(my_rand_number)

5

In [91]:
import random
n = random.random()
print(n)
print(round(n))
print(round(n,4))

0.6895790010694124
1
0.6896

In [93]:
from datetime import datetime as dt

In [94]:
now = dt.now()

In [99]:
print(now)

2023-09-26 14:23:47.883650

In [119]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def greet(self):
        return f'{self.name} says Hello!'

In [120]:
xander = Person('Xander', 25)

In [121]:
xander.name

'Xander'

In [122]:
xander.age

25

In [123]:
xander.greet()

'Xander says Hello!'

In [125]:
class Student(Person):
    def study(self):
        return f'{self.name} is studying!'

In [126]:
this_student = Student('Xander', 25)
print(this_student.study())

Xander is studying!

In [127]:
# oefeningen

In [128]:
zin = 'dit is een zin'

In [130]:
#Tel het aantal karakters in de zin
aantal = 0
for char in zin:
    aantal += 1
print(aantal)

14

In [131]:
# maak een eenvoudig raadspel waarbij je een input van een getal tussen nul en 10 vraag. Vergelijk dit met een random nummer. Geef feedback aan de gebruiker

In [139]:
import random as rd

getal = rd.randint(1,10)

n = input('raad het getal tussen 1 en 10')
n = int(n)
while input != getal:
    print('getal is niet juist. Probeer opnieuw')
    n = input('geef een ander getal in')
    n = int(n)
print('Getal is juist!')

TypeError: 'str' object is not callable

In [140]:
import random as rd

getal = rd.randint(1,10)

n = input('raad het getal tussen 1 en 10')
n = int(n)
while input != getal:
    print('getal is niet juist. Probeer opnieuw')
    n = input('geef een ander getal in')
    n = int(n)
print('Getal is juist!')

TypeError: 'str' object is not callable

In [141]:
import random as rd

getal = rd.randint(1,10)

n = input("raad het getal tussen 1 en 10'")
n = int(n)
while input != getal:
    print('getal is niet juist. Probeer opnieuw')
    n = input("geef een ander getal in")
    n = int(n)
print('Getal is juist!')

TypeError: 'str' object is not callable

In [1]:
# Maak via een if - elif - else statement een toepassing om iemand aan de hand van zijn leeftijd in een bepaalde categorie te stoppen
# Leeftijd < 2 is baby
# 2-4 kleuter
# 4-11 kind
# 11-18 tiener
# 18 volwassen